input[type="radio"] {
    display: none;
}

label {
    z-index: 10;
    cursor: pointer;
}

h4 {
    margin: 0;
    font-weight: 500;
}

.main-container {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(var(--primary-color-rgb), 0.21);
    position: relative; /* Changed from absolute to relative */
}

.switch {
    height: 44px;
    width: 80px;
    background-color: rgba(var(--primary-color-rgb), 0.40);
    border-radius: 100px;
    position: absolute;
    left: 3px;
    top: 3px;
    transition: ease-in;
}

.outsideDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*---------------- LEFT ------------------- */
.switch.left-to-center {
    animation-name: leftToCenter;
    animation-duration: 0.5s;
}

.switch.left-to-right {
    animation-name: leftToRight;
    animation-duration: 0.5s;
}

.switch.left-position {
    left: 3px;
}

.left-label {
    position: absolute;
}

#left + label, #left:checked + label,
#center + label, #center:checked + label,
#right + label, #right:checked + label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80px;
    border-radius: 100px;
}

@keyframes leftToCenter {
    from {
        left: 3px;
    }
    to {
        left: 85px;
    }
}

@keyframes leftToRight {
    from {
        left: 3px;
    }
    to {
        left: 167px;
    }
}

/* -------------------- center ------------------ */
.switch.center-to-left {
    animation-name: centerToLeft;
    animation-duration: 0.5s;
}

.switch.center-to-right {
    animation-name: centerToRight;
    animation-duration: 0.5s;
}

.switch.center-position {
    left: 85px;
}

.center-label {
    position: absolute;
    left: 85px;
}

@keyframes centerToLeft {
    from {
        left: 85px;
    }
    to {
        left: 3px;
    }
}

@keyframes centerToRight {
    from {
        left: 85px;
    }
    to {
        left: 167px;
    }
}

/* ------------------- RIGHT ------------------- */
.switch.right-to-left {
    animation-name: rightToLeft;
    animation-duration: 0.5s;
}

.switch.right-to-center {
    animation-name: rightToCenter;
    animation-duration: 0.5s;
}

.switch.right-position {
    left: 167px;
}

.right-label {
    position: absolute;
    right: 2px;
}

@keyframes rightToLeft {
    from {
        left: 167px;
    }
    to {
        left: 3px;
    }
}

@keyframes rightToCenter {
    from {
        left: 167px;
    }
    to {
        left: 85px;
    }
}

.showDecription {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 20px;
    white-space: nowrap;
    z-index: 999999;
}


.toggle-description {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}