<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738018911031-vp60on8brljuoubnfe6dhti3jerghu7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738018911031-vp60on8brljuoubnfe6dhti3jerghu7e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738018911031-guac37nghico45bjo7e7o762kqa6tsmq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnFqieCmISRxL0p3a5LVmNyAPy8TWlhqA</string>
	<key>GCM_SENDER_ID</key>
	<string>738018911031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirennotify.myapp</string>
	<key>PROJECT_ID</key>
	<string>coinalert-1872e</string>
	<key>STORAGE_BUCKET</key>
	<string>coinalert-1872e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738018911031:ios:e06577d37ce972ac3630b2</string>
</dict>
</plist>